.wrapper {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-weight: 900;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

.account {
    display: flex;
    flex-direction: row;
}

.logo:hover {
    color: teal;
    transition: all 0.4s ease;
}

.menuItems {
    cursor: pointer;
    margin-left: 25px;
    color: black;
    text-decoration: none;
}

.menuItems:hover {
    color: teal;
    transition: all 0.4s ease;
    /* justify-content: ; */
}