.card {
    width: 25rem;
    transition: all 0.3s ease;
}

.card:hover {
    transform: none;
}

.postcard {
    display: flex;
    justify-content: space-between;
}

.seemore {
    margin-left: 2em;
    border: 1px solid teal;
    background-color: white;
    color: teal;
    cursor: pointer;
    font-weight: 900;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.seemore:hover {
    background-color: teal;
    color: white;
    font-weight: 900;
    transition: all 0.4s ease;
}